In [16]:
import pandas as pd

# Importar o dataset
df_mes = pd.read_csv("../../../../../data/interim/preprocessing/03_dataset_expo_rn_fob_mensal_OUTLIERS.csv")
data_outubro = pd.read_csv("../../../../../data/interim/preprocessing/04_dataset_expo_rn_outubro_featured_encoded.csv")
data_outubro.head()

,Países,Bloco Econômico,Via,URF,Código NCM,Descrição NCM,Código SH6,Descrição SH6,Código SH4,Descrição SH4,...,Descrição Seção,Unidade estatística,Valor US$ FOB,Quilograma Líquido,Quantidade Estatística,Data,Valor US$ FOB_mensal,Quilograma Líquido_mensal,Valor US$ FOB_anual,Quilograma Líquido_anual
0,0,3,0,2,19,20,80720,20,10,17,...,12,4,12788,9801,9801,2024-10-01,1524439,1324675,1524439,1324675
1,0,3,0,2,45,60,520922,51,30,35,...,3,4,215,96,96,2024-10-01,811265,145440,811265,145440
2,0,3,0,4,19,20,80720,20,10,17,...,12,4,43394,33958,33958,2024-10-01,1524439,1324675,1524439,1324675
3,0,3,0,10,19,20,80720,20,10,17,...,12,4,1800,1800,1800,2024-10-01,1524439,1324675,1524439,1324675
4,0,3,0,13,19,20,80720,20,10,17,...,12,4,42259,31124,31124,2024-10-01,1524439,1324675,1524439,1324675

In [17]:
from sklearn.base import BaseEstimator, TransformerMixin
import pandas as pd

# Criar uma classe customizada para condensar os dados
class CondensaValorFOB(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        # Aqui não precisamos de ajuste, apenas transformar
        return self

    def transform(self, X):
        # A função transform recebe os dados e os transforma
        # Primeiro, certifique-se de que 'Data' está no formato datetime
        X['Data'] = pd.to_datetime(X['Data'])

        # Condensar por mês
        X['Data'] = X['Data'].dt.to_period('M')
        df_mes = X.groupby(['Data', 'Código SH6'])['Valor US$ FOB'].sum().reset_index()
        df_mes.rename(columns={'Valor US$ FOB': 'Valor US$ FOB Mensal'}, inplace=True)

        # Condensar por ano
        X['Ano'] = X['Data'].dt.year
        df_ano = X.groupby(['Ano', 'Código SH6'])['Valor US$ FOB'].sum().reset_index()
        df_ano.rename(columns={'Valor US$ FOB': 'Valor US$ FOB Anual'}, inplace=True)

        return df_mes, df_ano

# Exemplo de pipeline
from sklearn.pipeline import Pipeline

# Criar o pipeline de pré-processamento
pipeline = Pipeline([
    ('condensacao_fob', CondensaValorFOB())  # Etapa de condensação dos valores FOB
])

# Aplicar no dataset
# Exemplo de dataset
df_mes_outubro, df_ano_outubro = pipeline.fit_transform(data_outubro)

df_mes_outubro

       Data  Código SH6  Valor US$ FOB Mensal
0   2024-10       30232                158636
1   2024-10       30234                729056
2   2024-10       30247                122184
3   2024-10       30289                192169
4   2024-10       30389                149977
5   2024-10       30611               1209873
6   2024-10       30631                 23009
7   2024-10       51000                382354
8   2024-10       51199                289030
9   2024-10       60319                  6436
10  2024-10       80119                  6425
11  2024-10       80132                237600
12  2024-10       80390                 46260
13  2024-10       80450                583288
14  2024-10       80550                    60
15  2024-10       80711               8220351
16  2024-10       80719              17343784
17  2024-10       80720               1524439
18  2024-10      121190                   400
19  2024-10      151590                  3990
20  2024-10      170490               1412743
21  2024-10      180690                  1888
22  2024-10      190590                 24057
23  2024-10      200799                  2773
24  2024-10      200820                  1941
25  2024-10      200899                 59370
26  2024-10      210690                 21107
27  2024-10      220190                   120
28  2024-10      250100                434689
29  2024-10      250700                 37700
30  2024-10      251612                471465
31  2024-10      252510                 31372
32  2024-10      261100                300183
33  2024-10      271019                457973
34  2024-10      310100                361533
35  2024-10      392190                 67339
36  2024-10      410150                332808
37  2024-10      520822                 37686
38  2024-10      520912                 20122
39  2024-10      520919                 14384
40  2024-10      520922                811265
41  2024-10      520929                 94212
42  2024-10      520932                746513
43  2024-10      520939                 59397
44  2024-10      521119                   809
45  2024-10      521120                 17660
46  2024-10      521132                 15616
47  2024-10      521139                158792
48  2024-10      680293                293160
49  2024-10      680299                225844
50  2024-10      710310                  1203
51  2024-10      710399                 99950
52  2024-10      760200                 77080
53  2024-10      820320                  1307
54  2024-10      853890                  1953
55  2024-10      854929                 36449
56  2024-10      902131                   110
57  2024-10      960621                   656

# Pré-processamento de dados

In [83]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import joblib
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Criação do MinMaxScaler
scaler = MinMaxScaler()
# Criação do StandardScaler
#scaler = StandardScaler()

# Normalizar a coluna 'Valor US$ FOB Mensal' no dataframe df_mes_encoded


# Criação do LabelEncoder
encoder = LabelEncoder()
encoder_outubro = LabelEncoder()

# Aplicar LabelEncoder nas colunas selecionadas, sobrescrevendo as colunas originais
df_mes_encoded = df_mes.copy()
df_mes_encoded['Data'] = encoder.fit_transform(df_mes_encoded['Data'])
df_mes_encoded['Código SH6'] = encoder.fit_transform(df_mes_encoded['Código SH6'])
#df_mes_encoded['Data'] = scaler.fit_transform(df_mes_encoded[['Data']])
#df_mes_encoded['Código SH6'] = scaler.fit_transform(df_mes_encoded[['Código SH6']])
#df_mes_encoded['Valor US$ FOB Mensal'] = scaler.fit_transform(df_mes_encoded[['Valor US$ FOB Mensal']])



df_mes_outubro_encoded = df_mes_outubro.copy()
df_mes_outubro_encoded['Data'] = encoder_outubro.fit_transform(df_mes_outubro_encoded['Data'])
df_mes_outubro_encoded['Código SH6'] = encoder_outubro.fit_transform(df_mes_outubro_encoded['Código SH6'])
#df_mes_outubro_encoded['Data'] = scaler.fit_transform(df_mes_outubro_encoded[['Data']])
#df_mes_outubro_encoded['Código SH6'] = scaler.fit_transform(df_mes_outubro_encoded[['Código SH6']])
#df_mes_outubro_encoded['Valor US$ FOB Mensal'] = scaler.fit_transform(df_mes_outubro_encoded[['Valor US$ FOB Mensal']])



# Visualizar o resultado
df_mes_encoded

       Data  Código SH6  Valor US$ FOB Mensal
0         0          16                  3395
1         0          63                600068
2         0          86                  5220
3         0         109               1773030
4         0         112                 62229
...     ...         ...                   ...
19838   332         909                  2775
19839   332         946                  1401
19840   332         993                  8125
19841   332        1194                134857
19842   332        1305                  1604

[19843 rows x 3 columns]

# Removendo valores da coluna a ser prevista

In [84]:
import numpy as np

# DataFrame original (mantém os valores)
df_outubro_com_valores = df_mes_outubro_encoded.copy()

# DataFrame com a coluna preenchida com NaN
df_outubro_sem_valores = df_mes_outubro_encoded.copy()
df_outubro_sem_valores['Valor US$ FOB Mensal'] = np.nan

In [85]:
df_outubro_com_valores

    Data  Código SH6  Valor US$ FOB Mensal
0      0           0                158636
1      0           1                729056
2      0           2                122184
3      0           3                192169
4      0           4                149977
5      0           5               1209873
6      0           6                 23009
7      0           7                382354
8      0           8                289030
9      0           9                  6436
10     0          10                  6425
11     0          11                237600
12     0          12                 46260
13     0          13                583288
14     0          14                    60
15     0          15               8220351
16     0          16              17343784
17     0          17               1524439
18     0          18                   400
19     0          19                  3990
20     0          20               1412743
21     0          21                  1888
22     0          22                 24057
23     0          23                  2773
24     0          24                  1941
25     0          25                 59370
26     0          26                 21107
27     0          27                   120
28     0          28                434689
29     0          29                 37700
30     0          30                471465
31     0          31                 31372
32     0          32                300183
33     0          33                457973
34     0          34                361533
35     0          35                 67339
36     0          36                332808
37     0          37                 37686
38     0          38                 20122
39     0          39                 14384
40     0          40                811265
41     0          41                 94212
42     0          42                746513
43     0          43                 59397
44     0          44                   809
45     0          45                 17660
46     0          46                 15616
47     0          47                158792
48     0          48                293160
49     0          49                225844
50     0          50                  1203
51     0          51                 99950
52     0          52                 77080
53     0          53                  1307
54     0          54                  1953
55     0          55                 36449
56     0          56                   110
57     0          57                   656

In [86]:
df_outubro_sem_valores

    Data  Código SH6  Valor US$ FOB Mensal
0      0           0                   NaN
1      0           1                   NaN
2      0           2                   NaN
3      0           3                   NaN
4      0           4                   NaN
5      0           5                   NaN
6      0           6                   NaN
7      0           7                   NaN
8      0           8                   NaN
9      0           9                   NaN
10     0          10                   NaN
11     0          11                   NaN
12     0          12                   NaN
13     0          13                   NaN
14     0          14                   NaN
15     0          15                   NaN
16     0          16                   NaN
17     0          17                   NaN
18     0          18                   NaN
19     0          19                   NaN
20     0          20                   NaN
21     0          21                   NaN
22     0          22                   NaN
23     0          23                   NaN
24     0          24                   NaN
25     0          25                   NaN
26     0          26                   NaN
27     0          27                   NaN
28     0          28                   NaN
29     0          29                   NaN
30     0          30                   NaN
31     0          31                   NaN
32     0          32                   NaN
33     0          33                   NaN
34     0          34                   NaN
35     0          35                   NaN
36     0          36                   NaN
37     0          37                   NaN
38     0          38                   NaN
39     0          39                   NaN
40     0          40                   NaN
41     0          41                   NaN
42     0          42                   NaN
43     0          43                   NaN
44     0          44                   NaN
45     0          45                   NaN
46     0          46                   NaN
47     0          47                   NaN
48     0          48                   NaN
49     0          49                   NaN
50     0          50                   NaN
51     0          51                   NaN
52     0          52                   NaN
53     0          53                   NaN
54     0          54                   NaN
55     0          55                   NaN
56     0          56                   NaN
57     0          57                   NaN

# Track MLFlow

In [87]:
import mlflow
mlflow.set_tracking_uri("http://localhost:8080")

# Treinando Random Forest

In [88]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import mlflow

# Definir o nome do experimento
experiment_name = "Random_Forest_Model_Exportacao_FOB"

# Definir o experimento no MLflow
mlflow.set_experiment(experiment_name)

# Separar preditores (X) e resposta (y)
X = df_mes_encoded[['Código SH6', 'Data']]  # Variáveis independentes
y = df_mes_encoded['Valor US$ FOB Mensal']  # Variável dependente

# Dividir o dataset em treinamento (80%) e teste (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Configurar o modelo Random Forest e o pipeline
rf_pipeline = RandomForestRegressor(random_state=42)

# Hiperparâmetros para o GridSearch
param_grid_rf = {
    'n_estimators': [50, 100, 200],             # Número de árvores
    'max_depth': [10, 20, 30],                  # Profundidade máxima das árvores
    'min_samples_split': [2, 5, 10],            # Número mínimo de amostras para dividir um nó
    'min_samples_leaf': [1, 2, 4],              # Número mínimo de amostras em um nó folha
    'max_features': ['auto', 'sqrt', 'log2']    # Número de features a serem usadas na busca
}

# Configurar o GridSearchCV
grid_search_rf = GridSearchCV(
    estimator=rf_pipeline,
    param_grid=param_grid_rf,
    cv=5,  # Validação cruzada
    scoring='neg_mean_absolute_error',  # Avaliar usando MAE negativo
    verbose=2,
    n_jobs=-1
)

# Iniciar o experimento no MLflow
with mlflow.start_run():
    # Treinar o GridSearchCV com Random Forest
    grid_search_rf.fit(X_train, y_train)

    # Exibir os melhores hiperparâmetros encontrados
    print("Melhores Hiperparâmetros para Random Forest:", grid_search_rf.best_params_)

    # Obter o melhor modelo
    best_rf_model = grid_search_rf.best_estimator_

    # Realizar previsões no conjunto de teste
    y_pred_rf = best_rf_model.predict(X_test)

    # Avaliar as métricas do modelo
    mae_rf = mean_absolute_error(y_test, y_pred_rf)
    mse_rf = mean_squared_error(y_test, y_pred_rf)
    r2_rf = r2_score(y_test, y_pred_rf)

    # Exibir as métricas
    print(f"Random Forest - MAE: {mae_rf:.2f}")
    print(f"Random Forest - MSE: {mse_rf:.2f}")
    print(f"Random Forest - R² Score: {r2_rf:.2f}")

    # Logar as métricas no MLflow
    mlflow.log_metric("mae", mae_rf)
    mlflow.log_metric("mse", mse_rf)
    mlflow.log_metric("r2", r2_rf)

    # Logar o modelo no MLflow
    mlflow.sklearn.log_model(best_rf_model, "random_forest_model")

Fitting 5 folds for each of 243 candidates, totalling 1215 fits

C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
405 fits failed out of a total of 1215.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
250 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
155 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\numpy\ma\core.py:2881: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,
C:\Users\joao1\DataspellProjects\analise_exportacoes_rn\.venv\Lib\site-packages\sklearn\model_selection\_search.py:1103: UserWarning: One or more of the test scores are non-finite: [             nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan -381691.5480505
 -387289.81613796 -387519.84881812 -382009.01251066 -387478.37383255
 -388316.47177672 -384348.21323813 -388067.40780639 -388475.10431807
 -384025.2132169  -389408.69191524 -388145.92892134 -384558.60650048
 -388313.62261529 -388362.28189936 -385994.1199683  -389604.61322437
 -389263.46422499 -387247.98135033 -390408.36774509 -391764.67389881
 -387247.98135033 -390408.36774509 -391764.67389881 -386933.7693777
 -390733.33485415 -391960.41217463 -381691.5480505  -387289.81613796
 -387519.84881812 -382009.01251066 -387478.37383255 -388316.47177672
 -384348.21323813 -388067.40780639 -388475.10431807 -384025.2132169
 -389408.69191524 -388145.92892134 -384558.60650048 -388313.62261529
 -388362.28189936 -385994.1199683  -389604.61322437 -389263.46422499
 -387247.98135033 -390408.36774509 -391764.67389881 -387247.98135033
 -390408.36774509 -391764.67389881 -386933.7693777  -390733.33485415
 -391960.41217463              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
 -302337.31927773 -305085.36879717 -304360.35983483 -314856.64299984
 -316333.08605969 -315460.77371471 -323900.33253345 -325774.97816652
 -326004.29038898 -313243.52557991 -315296.90505716 -316366.90992162
 -317146.31094974 -319388.79668995 -317627.68206653 -330664.9220048
 -331132.6870242  -329812.83775127 -335615.83578894 -338511.24081952
 -337454.75061505 -335615.83578894 -338511.24081952 -337454.75061505
 -335701.46147038 -337791.65250733 -337304.61396828 -302337.31927773
 -305085.36879717 -304360.35983483 -314856.64299984 -316333.08605969
 -315460.77371471 -323900.33253345 -325774.97816652 -326004.29038898
 -313243.52557991 -315296.90505716 -316366.90992162 -317146.31094974
 -319388.79668995 -317627.68206653 -330664.9220048  -331132.6870242
 -329812.83775127 -335615.83578894 -338511.24081952 -337454.75061505
 -335615.83578894 -338511.24081952 -337454.75061505 -335701.46147038
 -337791.65250733 -337304.61396828              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan              nan              nan              nan
              nan -302380.95515354 -302089.33720874 -301914.77524456
 -313906.55790293 -314800.95142169 -314194.55822892 -325146.15961945
 -327055.89563155 -326876.49597668 -312991.48154195 -314545.42668523
 -313564.67081624 -316528.74860967 -318028.40013905 -316661.60179232
 -332392.35882452 -331758.06997464 -329184.16393475 -334014.9433296
 -335221.16792983 -335513.70259129 -334014.9433296  -335221.16792983
 -335513.70259129 -335901.96423696 -336710.30562437 -336307.31354366
 -302380.95515354 -302089.33720874 -301914.77524456 -313906.55790293
 -314800.95142169 -314194.55822892 -325146.15961945 -327055.89563155
 -326876.49597668 -312991.48154195 -314545.42668523 -313564.67081624
 -316528.74860967 -318028.40013905 -316661.60179232 -332392.35882452
 -331758.06997464 -329184.16393475 -334014.9433296  -335221.16792983
 -335513.70259129 -334014.9433296  -335221.16792983 -335513.70259129
 -335901.96423696 -336710.30562437 -336307.31354366]
  warnings.warn(

Melhores Hiperparâmetros para Random Forest: {'max_depth': 30, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200}
Random Forest - MAE: 344601.25
Random Forest - MSE: 6563901661740.48
Random Forest - R² Score: 0.48

2024/11/27 16:03:59 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run persistent-wren-115 at: http://localhost:8080/#/experiments/626577655273983274/runs/ee1ee3019b194e9184e2ac7cf513aff7
🧪 View experiment at: http://localhost:8080/#/experiments/626577655273983274

In [92]:
df_outubro_sem_valores

    Data  Código SH6  Valor US$ FOB Mensal
0      0           0            234475.860
1      0           1            234458.055
2      0           2            234440.865
3      0           3            234441.480
4      0           4            234572.700
5      0           5            234677.610
6      0           6            234756.375
7      0           7            236429.635
8      0           8            236982.030
9      0           9            236214.035
10     0          10            236214.035
11     0          11            236214.035
12     0          12            235561.880
13     0          13            234723.900
14     0          14            234723.900
15     0          15            234723.900
16     0          16            237872.895
17     0          17            237872.895
18     0          18            237872.895
19     0          19            237872.895
20     0          20            249345.600
21     0          21            249345.600
22     0          22            249345.600
23     0          23            249733.235
24     0          24            249733.235
25     0          25            251819.695
26     0          26            247075.495
27     0          27            252978.650
28     0          28            253360.425
29     0          29            253360.425
30     0          30            253360.425
31     0          31            252301.290
32     0          32            253604.720
33     0          33            252695.630
34     0          34            252695.630
35     0          35            255265.790
36     0          36            259153.625
37     0          37            258956.175
38     0          38            258779.740
39     0          39            258868.660
40     0          40            260366.490
41     0          41            262679.530
42     0          42            261356.395
43     0          43            255930.795
44     0          44            256580.425
45     0          45            256658.935
46     0          46            256030.710
47     0          47            256107.090
48     0          48            256418.025
49     0          49            256540.650
50     0          50            339531.280
51     0          51            339534.215
52     0          52            340339.740
53     0          53            340155.935
54     0          54            349519.485
55     0          55            358867.670
56     0          56            358850.815
57     0          57            358953.120

In [93]:
import numpy as np
import mlflow

# Garantir que as colunas estejam na mesma ordem que o conjunto de treinamento
x_outubro_sem_valores = df_outubro_sem_valores[X_train.columns]

# Realizar previsões no DataFrame com valores ausentes
with mlflow.start_run():
    # Obter o melhor modelo RandomForest do GridSearchCV
    best_rf_model = grid_search_rf.best_estimator_

    # Realizar previsões no DataFrame com valores ausentes
    previsoes = best_rf_model.predict(x_outubro_sem_valores)

    # Inserir as previsões de volta ao DataFrame
    df_outubro_sem_valores["Valor US$ FOB Mensal"] = previsoes

    # Exibir o DataFrame com as previsões
df_outubro_sem_valores

🏃 View run amusing-dog-209 at: http://localhost:8080/#/experiments/626577655273983274/runs/7db1ebf540354dde8c2a68d20ce1e103
🧪 View experiment at: http://localhost:8080/#/experiments/626577655273983274

    Data  Código SH6  Valor US$ FOB Mensal
0      0           0            234475.860
1      0           1            234458.055
2      0           2            234440.865
3      0           3            234441.480
4      0           4            234572.700
5      0           5            234677.610
6      0           6            234756.375
7      0           7            236429.635
8      0           8            236982.030
9      0           9            236214.035
10     0          10            236214.035
11     0          11            236214.035
12     0          12            235561.880
13     0          13            234723.900
14     0          14            234723.900
15     0          15            234723.900
16     0          16            237872.895
17     0          17            237872.895
18     0          18            237872.895
19     0          19            237872.895
20     0          20            249345.600
21     0          21            249345.600
22     0          22            249345.600
23     0          23            249733.235
24     0          24            249733.235
25     0          25            251819.695
26     0          26            247075.495
27     0          27            252978.650
28     0          28            253360.425
29     0          29            253360.425
30     0          30            253360.425
31     0          31            252301.290
32     0          32            253604.720
33     0          33            252695.630
34     0          34            252695.630
35     0          35            255265.790
36     0          36            259153.625
37     0          37            258956.175
38     0          38            258779.740
39     0          39            258868.660
40     0          40            260366.490
41     0          41            262679.530
42     0          42            261356.395
43     0          43            255930.795
44     0          44            256580.425
45     0          45            256658.935
46     0          46            256030.710
47     0          47            256107.090
48     0          48            256418.025
49     0          49            256540.650
50     0          50            339531.280
51     0          51            339534.215
52     0          52            340339.740
53     0          53            340155.935
54     0          54            349519.485
55     0          55            358867.670
56     0          56            358850.815
57     0          57            358953.120

In [94]:
import pandas as pd

# Supondo que 'data_outubro_com_valores' contém os valores reais
# e 'data_outubro_sem_valores' contém as previsões

# Recuperar os valores reais e previstos
valores_reais = df_outubro_com_valores["Valor US$ FOB Mensal"]
valores_previstos = df_outubro_sem_valores["Valor US$ FOB Mensal"]

# Calcular o erro absoluto
erro_absoluto = abs(valores_reais - valores_previstos)

# Calcular o erro percentual relativo (opcional)
erro_percentual = abs((valores_reais - valores_previstos) / valores_reais) * 100

# Criar um DataFrame para comparação
df_comparacao = pd.DataFrame({
    "Valor Real": valores_reais,
    "Valor Previsto": valores_previstos,
    "Erro Absoluto": erro_absoluto,
    "Erro Percentual (%)": erro_percentual
})

# Exibir o DataFrame
df_comparacao

    Valor Real  Valor Previsto  Erro Absoluto  Erro Percentual (%)
0       158636      234475.860   7.583986e+04            47.807471
1       729056      234458.055   4.945979e+05            67.840872
2       122184      234440.865   1.122569e+05            91.875258
3       192169      234441.480   4.227248e+04            21.997554
4       149977      234572.700   8.459570e+04            56.405782
5      1209873      234677.610   9.751954e+05            80.603120
6        23009      234756.375   2.117474e+05           920.280651
7       382354      236429.635   1.459244e+05            38.164728
8       289030      236982.030   5.204797e+04            18.007809
9         6436      236214.035   2.297780e+05          3570.199425
10        6425      236214.035   2.297890e+05          3576.483035
11      237600      236214.035   1.385965e+03             0.583319
12       46260      235561.880   1.893019e+05           409.212884
13      583288      234723.900   3.485641e+05            59.758490
14          60      234723.900   2.346639e+05        391106.500000
15     8220351      234723.900   7.985627e+06            97.144600
16    17343784      237872.895   1.710591e+07            98.628483
17     1524439      237872.895   1.286566e+06            84.396037
18         400      237872.895   2.374729e+05         59368.223750
19        3990      237872.895   2.338829e+05          5861.726692
20     1412743      249345.600   1.163397e+06            82.350251
21        1888      249345.600   2.474576e+05         13106.864407
22       24057      249345.600   2.252886e+05           936.478364
23        2773      249733.235   2.469602e+05          8905.886585
24        1941      249733.235   2.477922e+05         12766.215095
25       59370      251819.695   1.924497e+05           324.153099
26       21107      247075.495   2.259685e+05          1070.585564
27         120      252978.650   2.528586e+05        210715.541667
28      434689      253360.425   1.813286e+05            41.714553
29       37700      253360.425   2.156604e+05           572.043568
30      471465      253360.425   2.181046e+05            46.261032
31       31372      252301.290   2.209293e+05           704.224436
32      300183      253604.720   4.657828e+04            15.516628
33      457973      252695.630   2.052774e+05            44.823029
34      361533      252695.630   1.088374e+05            30.104408
35       67339      255265.790   1.879268e+05           279.075706
36      332808      259153.625   7.365438e+04            22.131191
37       37686      258956.175   2.212702e+05           587.141578
38       20122      258779.740   2.386577e+05          1186.053772
39       14384      258868.660   2.444847e+05          1699.698693
40      811265      260366.490   5.508985e+05            67.906111
41       94212      262679.530   1.684675e+05           178.817486
42      746513      261356.395   4.851566e+05            64.989706
43       59397      255930.795   1.965338e+05           330.881686
44         809      256580.425   2.557714e+05         31615.750927
45       17660      256658.935   2.389989e+05          1353.334853
46       15616      256030.710   2.404147e+05          1539.540920
47      158792      256107.090   9.731509e+04            61.284630
48      293160      256418.025   3.674198e+04            12.533079
49      225844      256540.650   3.069665e+04            13.591971
50        1203      339531.280   3.383283e+05         28123.714048
51       99950      339534.215   2.395842e+05           239.704067
52       77080      340339.740   2.632597e+05           341.540919
53        1307      340155.935   3.388489e+05         25925.702754
54        1953      349519.485   3.475665e+05         17796.543011
55       36449      358867.670   3.224187e+05           884.574803
56         110      358850.815   3.587408e+05        326128.013636
57         656      358953.120   3.582971e+05         54618.463415

# Árvore de decisão com novo dataset

In [43]:
import pandas as pd

# Importar o dataset
df_mes = pd.read_csv("../../../../../data/interim/preprocessing/03_dataset_expo_rn_fob_mensal.csv")
df_mes

          Data  Código SH6  Valor US$ FOB Mensal
0      1997-01       30269                  3395
1      1997-01       30611                600068
2      1997-01       51199                  5220
3      1997-01       80132               1773030
4      1997-01       80300                 62229
...        ...         ...                   ...
19838  2024-09      820510                  2775
19839  2024-09      841221                  1401
19840  2024-09      842519                  8125
19841  2024-09      854929                134857
19842  2024-09      960621                  1604

[19843 rows x 3 columns]

In [45]:
from sklearn.preprocessing import LabelEncoder

# Instanciar o LabelEncoder
le = LabelEncoder()

# Codificar as colunas individualmente
df_mes['Código SH6'] = le.fit_transform(df_mes['Código SH6'])
df_mes['Data'] = le.fit_transform(df_mes['Data'])

# Exibir o resultado
df_mes

       Data  Código SH6  Valor US$ FOB Mensal
0         0          16                  3395
1         0          63                600068
2         0          86                  5220
3         0         109               1773030
4         0         112                 62229
...     ...         ...                   ...
19838   332         909                  2775
19839   332         946                  1401
19840   332         993                  8125
19841   332        1194                134857
19842   332        1305                  1604

[19843 rows x 3 columns]

In [52]:
import mlflow
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

# Separar preditores (X) e resposta (y)
X = df_mes[['Código SH6', 'Data']]  # Variáveis independentes
y = df_mes['Valor US$ FOB Mensal']  # Variável dependente

# Dividir o dataset em treinamento (80%) e teste (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir o modelo base
model = DecisionTreeRegressor(random_state=42)

# Configurar os hiperparâmetros para o GridSearch
param_grid = {
    'max_depth': [3, 5, 10, 15, 20, 25],
    'min_samples_split': [2, 5, 10, 15, 20, 25],
    'min_samples_leaf': [1, 2, 4, 6, 8, 10],
    'criterion': ['squared_error', 'friedman_mse']
}

# Configurar o GridSearchCV
grid_search = GridSearchCV(
    estimator=model,
    param_grid=param_grid,
    cv=5,  # Número de folds para validação cruzada
    scoring='neg_mean_absolute_error',  # Métrica de avaliação (MAE negativo)
    verbose=2,
    n_jobs=-1  # Usar todos os núcleos disponíveis
)

# Iniciar o experimento no MLflow
with mlflow.start_run():

    # Nomear o experimento de acordo com o modelo
    mlflow.set_experiment("Decision_Tree_Regressor_Model_GridSearchCV")

    # Executar o GridSearchCV
    grid_search.fit(X_train, y_train)

    # Exibir os melhores hiperparâmetros
    print("Melhores Hiperparâmetros:", grid_search.best_params_)

    # Treinar o modelo com os melhores hiperparâmetros
    best_model = grid_search.best_estimator_

    # Avaliar no conjunto de teste
    y_pred = best_model.predict(X_test)

    # Avaliação do modelo
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    # Log das métricas no MLflow
    mlflow.log_metric("mae", mae)
    mlflow.log_metric("mse", mse)
    mlflow.log_metric("r2", r2)

    # (Opcional) Log do modelo
    mlflow.sklearn.log_model(best_model, "decision_tree_regressor_model")

    # Exibir métricas no console
    print(f"MAE (Mean Absolute Error): {mae:.2f}")
    print(f"MSE (Mean Squared Error): {mse:.2f}")
    print(f"R² Score: {r2:.2f}")

2024/11/27 14:34:52 INFO mlflow.tracking.fluent: Experiment with name 'Decision_Tree_Regressor_Model_GridSearchCV' does not exist. Creating a new experiment.

Fitting 5 folds for each of 432 candidates, totalling 2160 fits
Melhores Hiperparâmetros: {'criterion': 'squared_error', 'max_depth': 20, 'min_samples_leaf': 1, 'min_samples_split': 5}

2024/11/27 14:35:13 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

MAE (Mean Absolute Error): 352441.91
MSE (Mean Squared Error): 7608813995696.29
R² Score: 0.40
🏃 View run intrigued-fly-327 at: http://localhost:8080/#/experiments/222862534105789614/runs/929c03f74afc448399604d0b15b31503
🧪 View experiment at: http://localhost:8080/#/experiments/222862534105789614